body{
  font-size: 19px;
  font-style:normal;
  font-family: arial, sans-serif;
  color: white;
  background-color: black;
}
#bannerimage{
  background-position: center;
  background-size: 100% 100%;
  padding: 0;
}
/* styling for h2 tags */
h2{
  color: #2471A3;
}
/* styling for the footer section */
footer{
  text-align: center;
}
#formButtons {
    background-color: #7B241C;
    border: none;
    color: white;
    padding: 15px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
